---
import SectionHeading from './SectionHeading.astro';
const { about } = Astro.props;
---

<div class='about'>
  <SectionHeading>À propos</SectionHeading>
  <div
    class='pb-12 text-sm leading-normal text-gray-900 whitespace-pre-line font-text dark:text-gray-200'
  >
    {about}
  </div>
</div>
