---
import SkillSvg from './Skill.astro';
import SectionHeading from './SectionHeading.astro';
const { skills } = Astro.props;
---

<SectionHeading>Compétences principales</SectionHeading>
<ul class='grid grid-cols-3 gap-2 md:gap-4'>
  {
    skills.map((skill, i) => (
      <li
        class={`relative flex justify-center items-center rounded-full border-skill-${i} bg-gradient-to-r from-gray-100 to-primaryLight dark:from-primaryDark dark:to-gray-800 shadow-inner`}
      >
        <span class='absolute px-2 text-sm font-semibold text-center rounded-md shadow-md font-header md:text-base bg-gradient-to-r from-gray-100 to-primaryLight dark:from-primaryDark dark:to-gray-800 text-primaryDark dark:text-primaryLight'>
          {skill}
        </span>
        <SkillSvg class={`w-full text-skill-${i} opacity-75 m-2`} />
      </li>
    ))
  }
</ul>
<p>Autres compétences :</p><br />
<p>Svelte, SvelteKit, Tailwind, Vue.js, PHP, Laravel, Python, Django</p>
